# Dependencias
node_modules/

# Carpetas de compilación/salida
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Directorios del sistema
.DS_Store
Thumbs.db

# Archivos de configuración de editores
.vscode/
.idea/
*.sw?
.qodo

# Sistema operativo
*.log
*.pid
*.seed
*.pid.lock

# Otros
*.tgz
.eslintcache
.parcel-cache/
.next/